* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #c32489;
  color: #000000;
  padding: 0 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #89055a;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  color: #fff;
  position: fixed; /* makes it stick */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* ensures it stays above other elements */
  transition: background 0.3s, box-shadow 0.3s;
}

.header.scrolled {
  background: #222;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

.navbar a:hover {
  color: pink;
}

body {
  padding-top: 70px; /* roughly equal to header height */
}

nav{
  display: flex;
  align-items: center;
  gap: 30px;
}

#menu-icon {
  font-size: 28px;
  cursor: pointer;
  display: none;
}

.hero {
  text-align: center;
  padding: 2rem 1rem;
}

.profile-pic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto 1rem;
  box-shadow: 0 0 20px black;
}

.cta-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #ff6bcb;
  color: #1e1b2e;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 0 1rem black;
  letter-spacing: 1px;
  font-weight: 600;
  transition: .3s ease;
}
.cta-button:hover {
  box-shadow: none;
}

.content, .career {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #f8a5e8;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.majors {
  list-style: none;
  padding-left: 0;
}

.majors li {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #8b0e53;
  color: #ffeffd;
  margin-top: 2rem;
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 0.5rem 0;
  }

  .profile-pic {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 768px) {
    .navbar {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgb(71, 67, 67);
    flex-direction: column;
    text-align: center;
  }

  .navbar a {
    margin: 15px 0;
    display: block;
  }

  .navbar a:hover {
    color: pink;
  }

  .navbar.active {
    display: flex;
  }

  #menu-icon {
    display: block;
  }
}